@font-face {
    font-family: 'Marutya';
    src: url('Marutya.eot');
    src: local('Marutya'),
        url('Marutya.eot?#iefix') format('embedded-opentype'),
        url('Marutya.woff2') format('woff2'),
        url('Marutya.woff') format('woff'),
        url('Marutya.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

