:root {
  --color-background-inner:hsla(260, 13%, 91%, 1);
  --color-background-hover:hsla(260, 13%, 91%, 1);
  --color-background-list:hsla(260, 14%, 96%, 1);
  --color-border:hsla(255, 12%, 80%, 1);
  --color-arrow:hsla(256, 100%, 73%, 1);

}

.choices-select {
  position: relative;
  /* z-index: 2; */
  width: 123px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
}

.choices-select:focus {
  outline: none;
}

.choices-select.is-open {
  overflow: visible;
}

.choices-select [hidden] {
  display: none ;
}

.choices-select[data-type*="select-one"] {
  cursor: pointer;
}

.choices-select[data-type*="select-one"]
  .choices-select__item[data-value=""]
  .choices-select__button {
  display: none;
}

.choices-select[data-type*="select-one"]::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  border: 1px solid transparent;
  border-right-color: var(--color-arrow);
  border-bottom-color: var(--color-arrow);
  transform: rotate(45deg);
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-property: transform;
  right: 15px;
  top: 40%;
  pointer-events: none;
}

.choices-select[data-type*="select-one"].is-open::after {
  transform: translateY(4px) rotate(-135deg);
  }

.choices-select__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: var(--color-background-inner);
  padding: 10px 12px 9px 12px;
  border: 1px solid var(--color-border);
  overflow: hidden;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.is-focused .choices-select__inner {}

.is-open .choices-select__inner {}

.choices-select__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.choices-select__list--single {
  display: inline-block;
  width: 100%;
}

.choices-select__list--single .choices-select__item {
  width: 100%;
}

.choices-select__list--dropdown,
.choices-select__list[aria-expanded] {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: -1px;
  visibility: hidden;
  will-change: visibility;
  border: 1px solid var(--color-border);
  overflow: hidden;
  word-break: break-all;
  background-color: var(--color-background-list);
}

.is-active.choices-select__list--dropdown,
.is-active.choices-select__list[aria-expanded] {
  visibility: visible;
  z-index: 10;
}

.choices-select__list--dropdown .choices-select__list,
.choices-select__list[aria-expanded] .choices-select__list {
  /* position: relative; */
  /* max-height: 300px; */
  /* overflow: auto; */
  /* -webkit-overflow-scrolling: touch; */
  /* will-change: scroll-position; */
}

.choices-select__list--dropdown .choices-select__item,
.choices-select__list[aria-expanded] .choices-select__item {
  position: relative;
  padding: 10px 12px 10px 12px;
  transition-property: color, background-color;
  transition-duration: 500ms;
  transition-timing-function: ease;
}

.choices-select__list--dropdown .choices-select__item:not(:last-child) {}

.choices-select__list--dropdown .choices-select__item.is-selected {
  display: none;
}

.choices-select__list--dropdown .choices-select__item--selectable.is-highlighted,
.choices-select__list[aria-expanded] .choices-select__item--selectable.is-highlighted {
  background-color: var(--color-background-hover);
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}
