/* common  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

:root {
  --pd-cont: 20px; /* padding container */

  /* color palette */
  --color-white: hsla(0, 0%, 100%, 1);
  --color-grey-bac: hsla(0, 0%, 90%, 1);



}

.container {
  min-width: 290px;
  max-width: 1326px;
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--pd-cont);
  padding-left: var(--pd-cont);
}

/* button style */
.btn-secondary {}

/* body */
.aurora-crm {
  font-family: '';
}

/* header */
.header {
  /* background-color: var(--color-white); */
  box-shadow: 0 9px 27px 0 hsla(200, 15%, 73%, 0.32), 0 3.38px 5.641px 0 hsla(200, 15%, 73%, 0.32);



}
.header__container {
  padding: 20px 0;
}
.header__logo {}
.header__search {}

/* main */
.main {
  /* background-color: var(--color-grey-bac); */
}
.main__container {
  padding: 40px 50px;
}
.main__subtitle {
  margin-bottom: 20px;
}
.main__table {}

/* footer */
.footer {
  /* background-color: var(--color-grey-bac); */

}
.footer__container {}
.footer__btn {}
.btn-addclient {}
.btn-addclient__content {}
.btn-addclient__icon {}
.btn-addclient__caption {}

