.table {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--color-black);
}

.table__head {
  font-size: 12px;
  color: var(--color-gray-text);
}

.table__head-row {

}

.table__head-cell {
}

.sortable {
  cursor: pointer;
  transition-property: color;
  transition-duration: var(--duration-btn-animation);
}

.sortable:hover {
  color: var(--color-black);
}

.sortable:hover .table__icon-sort,
.sortable:hover .table__type-sort {
  opacity: 1;
}


.table__head-cell_id {

}
.table__head-cell_full-name {

}
.table__head-cell_create-date {

}
.table__head-cell_change-date {

}
.table__head-cell_contacts {

}
.table__head-cell_actions {

}

.table__icon-sort,
.table__type-sort {
  color: var(--color-firm);
  opacity: 0.7;
  transition-property: opacity, transform;
  transition-duration: var(--duration-btn-animation);
}

.table__head-cell.is-sorted {
  color: var(--color-firm);
}

.table__head-cell.is-sorted .table__icon-sort,
.table__head-cell.is-sorted .table__type-sort {
  opacity: 1;
}

.table__icon-sort.sort-up svg{
  transform: rotate(180deg);
}
