.body {
background-color: #076B94;
}

.paired-card__title {
  width: 100%;
  text-align: center;
  font-family: 'Ripster Shadow';
  font-family: 'Rubik Microbe';
  font-family: 'Rubik Beastly';
  font-family: 'Rubik Wet Paint';
  font-family: 'Rubik Puddles';
  font-family: 'Rubik Glitch';
  font-family: 'Rubik Mono One';
  font-family: 'Rubik Bubbles';
  font-family: 'Rubik Moonrocks';
  font-size: 58px;
  color:#E0F7C6;
}



