:root {

}

/* background: linear-gradient(to right, #191654, #43C6AC);

background: linear-gradient(to right, #3498db, #2c3e50);
background: linear-gradient(to right, #061161, #780206);
background: linear-gradient(to right, #190A05, #870000);  */



.body {
/* background-color: #076B94; */
}

.paired-card__title {
  width: 100%;
  text-align: center;
  font-family: 'Ripster Shadow';
  font-family: 'Rubik Microbe';
  font-family: 'Rubik Beastly';
  font-family: 'Rubik Wet Paint';
  font-family: 'Rubik Puddles';
  font-family: 'Rubik Glitch';
  font-family: 'Rubik Mono One';
  font-family: 'Rubik Bubbles';
  font-family: 'Rubik Moonrocks';
  font-size: 58px;
  color:#E0F7C6;
}



