.container {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 40px 10px;
  border-radius: 6px;
  background-color: rgba(84, 145, 237, 0.584);
  box-shadow: rgba(49, 132, 253, 0.5) 0px 0px 0px 4px;
}

.timer__output {
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 20px;
  color: white;
  background-color: rgb(12, 105, 241);
  box-shadow: rgba(49, 132, 253, 0.5) 0px 0px 0px 4px;
}

.timer__input {
  width: 100px;
  outline: none;
  border-color: transparent;
  border-radius: 6px;
  text-align: center;
  margin-right: 20px;
  box-shadow: rgba(49, 132, 253, 0.5) 0px 0px 0px 4px;

}
