@font-face {
    font-family: 'Rubik Wet Paint';
    src: url('RubikWetPaint-Regular.eot');
    src: local('Rubik Wet Paint Regular'), local('RubikWetPaint-Regular'),
        url('RubikWetPaint-Regular.eot?#iefix') format('embedded-opentype'),
        url('RubikWetPaint-Regular.woff2') format('woff2'),
        url('RubikWetPaint-Regular.woff') format('woff'),
        url('RubikWetPaint-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

