@font-face {
    font-family: 'Rubik Puddles';
    src: url('RubikPuddles-Regular.eot');
    src: local('Rubik Puddles Regular'), local('RubikPuddles-Regular'),
        url('RubikPuddles-Regular.eot?#iefix') format('embedded-opentype'),
        url('RubikPuddles-Regular.woff2') format('woff2'),
        url('RubikPuddles-Regular.woff') format('woff'),
        url('RubikPuddles-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

